html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  line-height: normal;
  background-color: #ecf0f1;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  /* #ecf0f1  grey */
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  /* border: 1px solid #ffffff;
  border-radius: 100px; */
  font-size: 1.3em;
  margin-right: 1em;
  margin-left: 1em;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin-left: 1em;
  font-size: 1.5em;
}

.right-link {
  border: 1px solid #ffffff;
  border-collapse: separate !important;
  border-radius: 150px;
  padding: 7px;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  /* margin-top: 2.4em; */
  width: 100%;
  /* border-radius: 10px; */
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
}

.footer-icon {
  color: #3498db;
  margin: 20px;
}

.footer-icon:hover {
  color: #2980b9;
  cursor: pointer;
}

.contact-text {
  font-size: 1.2em;
  color: #3498db;
  margin-bottom: 10px;
}

.contact-text:hover {
  color: #3498db;
}

.title-container {
  font-size: 2em;
  color: #2980b9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #3498db;
}

.signup-text {
  font-size: 1.5em;
  color: #ecf0f1;
}

.button-custom {
  background-color: #ecf0f1;
  color: #3498db;
  border-radius: 6px;
  padding: .8em 1.3em;
  font-size: 1em;
  transition: .5s;
  border: none;
  height: min-content;
  width: min-content;
  white-space: nowrap;
}

.button-custom:focus {
  outline: none;
  background-color: #bdc3c7;
}

.button-custom:hover {
  background-color: #bdc3c7;
  cursor: pointer;
}

.email-input {
  margin-right: 5px;
}

.signup-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
/* a:hover { text-decoration: none; color: white; } */
a:active { color: white; text-decoration: none; }
